
.navbar {
    padding: 2rem 0; /* Espacement interne */
    display: flex;
    color: white;
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.4);
    width: 100%;
  }
  
  .nav-logo {
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 60px; 
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .logo-img:hover{
    transform: translateX(6px) ;
  }


  .nav-menu {
    gap: 80px; /* Espace entre les éléments du menu */
  }
  
  .nav-link {
    color: white;
    text-decoration: none; /* Supprime le soulignement */
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transition: color 0.3s ease; /* Transition pour l'effet hover */
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: goldenrod; 
    transform: scale(1.1);
  }
  
  .connexion .nav-link {
    color: black;
    background-color: white; 
    padding: 0.8rem 2.8rem; /* Espacement interne */
    border-radius: 40px; /* Bordures arrondies */
    transition: transform 0.2s ease;
  }
  
  .connexion .nav-link:hover {
    background-color: goldenrod; /* Fond bleu foncé au survol */
  }

  .connexion .nav-link:active {
    transform: scale(0.9); /* Réduit le bouton de 10% lors du clic */
  }



  .navbar-toggle {
    display: none; /* Masqué par défaut */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block; /* Afficher le bouton sur les petits écrans */
    }
  
    .nav-menu {
      display: none; /* Masquer le menu par défaut */
      flex-direction: column;
      width: 100%;
      background-color: rgb(51, 56, 77);
      position: absolute;
      left: 0;
      justify-content: center;
      align-items: center;
    }
  
    .nav-menu.open {
      display: flex; /* Afficher le menu lorsque ouvert */
    }
    
      .col-md-8.open {
        display: flex; /* Afficher le menu lorsque ouvert */
      }
  }
